<template>
  <div id="app">
    <div class="main-body">
          <span class="header">ESG Scoring </span>
    <br><br>
    <span class="header-text"> This is a list of top 5 companies in each ESG category </span>
      <div class="environmental">
        <div class="custombody">
          <span class="environmental-dot"></span>
           <span class="subheader">Environmental </span>
            <ul id="environmental-items">
              <li v-for="single in envList" :key="single.score">
                {{single.score}} {{ single.name }}
              </li>
            </ul>
        </div>
      </div>
      <div class="social">
        <div class="custombody">
          <span class="social-dot"></span>
          <span class="subheader">Social </span>
            <ul id="social-items">
              <li v-for="single in socList" :key="single.score">
                {{single.score}} {{ single.name }}
              </li>
            </ul>
        </div>
      </div>
      <div class="governance">
        <div class="custombody">
         <span class="governance-dot"></span>
           <span class="subheader">Governance </span>
            <ul id="governance-items">
              <li v-for="single in govList" :key="single.score">
                {{single.score}} {{ single.name }}
              </li>
            </ul>
        </div>
      </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      socList: {
        name: String,
        category: String,
        score: Number
      },
      envList: {
        name: String,
        category: String,
        score: Number
      },
      govList: {
        name: String,
        category: String,
        score: String
      },
    };
  },

  methods: {
    sortByKey(array, key) {
    return array.sort((a, b) => {
      let x = a[key];
      let y = b[key];
      return ((x > y) ? -1 : ((x < y) ? 1 : 0));
      });
    },
  },
  async created() {
    this.socList = [];
    this.envList = [];
    this.govList = [];
      fetch("https://api.acty.se")
      .then(async response => {
        const data = await response.json();
        for(var i = 0; i <= data.length; i++){
          if(data[i] != null){
            var element = {
              name: data[i][Object.keys(data[i])[0]],
              category: data[i][Object.keys(data[i])[1]],
              score: data[i][Object.keys(data[i])[2]]
            };
            if(element.category=="Governance"){
              this.govList.push(element);   
            }
            else if(element.category=="Social"){
              this.socList.push(element); 
            }
            else if(element.category=="Environmental"){
              this.envList.push(element);     
            }
          }   
        }
        this.govList = this.sortByKey(this.govList, 'score');
        this.envList = this.sortByKey(this.envList, 'score');
        this.score = this.sortByKey(this.socList, 'score');
      });
    },
}
</script>

<style scoped>
  @font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url(./fonts/Montserrat-Regular.ttf) format("truetype");
  }
  .header{
    margin-left: 20px;
    font-size: 18px;
  }
  .header-text{
    margin-left: 20px;
    font-size: 14px;
  }
  .main-body{
    font-family: "Montserrat";
    text-align: left;
  }
  .environmental{
    background: #F5FFEE;
    margin: 10px;
  }
  .custombody{
    padding: 20px;
  }
  .environmental-dot{
    width: 15px;
    height: 15px;
    background-color: #9FD3A5;
    border-radius: 50%;
    display: inline-block;
  }
  .subheader{
    font-size: 14px;
    padding-left: 5px;
  }
  .social {
    left: 20px;
    background: #FFFFF1;
    border-radius: 9px;
    margin: 10px;
  }
  .social-dot {
    width: 15px;
    height: 15px;
    background-color: #F2E888;
    border-radius: 50%;
    display: inline-block;
  }
  .governance {
    background: #F2F7FF;
    border-radius: 9px;
    margin: 10px;
  }
  .governance-dot {
    width: 15px;
    height: 15px;
    background-color: #88BFF2;
    border-radius: 50%;
    display: inline-block;
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-top: 10px;
  font-size: 14px;
  line-height: 17px
  }
</style>